{% load static %}
{# load the Bootstrap tag library #}
{% load bootstrap4 %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}ECF Grades{% endblock title %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

    {% block stylesheets %}
      {% bootstrap_css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/tablesorter.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tablesorter.pager.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free-5.12.1-all.min.css' %}">
    {% endblock stylesheets %}

    {% block scripts %}
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.pager.js' %}"></script>
    <script>
    $(document).ready(function() {
        $("table")
        .tablesorter({widthFixed: true, widgets: ['zebra']})
        //.tablesorterPager({container: $("#pager")});
    });
    </script>
    {% endblock scripts %}

  </head>

<body class="d-flex flex-column h-100">

<header class="bg-primary">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-custom fixed-top navbar-expand-lg">
    <div class="container">

    <a class="navbar-brand nav-link ml-0 mr-2 mb-0 mt-0" href="#">ECF grades database</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-2" href="/">
                <i class="fas fa-search" aria-hidden="true"></i> Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-2" href="/statistics">
                <i class="far fa-chart-bar" aria-hidden="true"></i> Statistics</a>
            </li>
        </ul>

    </div>  <!-- navbar-collapse -->
    </div>  <!-- container -->

    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
    {% block content %}

    {% endblock content %}
    </div>
</main>

</body>
</html>
